# Server backend
PORT=5001
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:3000

# Database MySQL
# Ganti IP, user, password, dan nama database sesuai server yang dipakai.
DB_HOST=192.168.1.100
DB_PORT=3306
DB_USER=hsse_app_user
DB_PASS="GantiPasswordKuat123!@#"
DB_NAME=hsse_dashboard_pelaporan_pengawasan

# JWT login
JWT_SECRET=ganti_dengan_secret_panjang_minimal_32_karakter
JWT_EXPIRES_IN=8h

# Replikasi data master
# true  = scheduler aktif
# false = scheduler nonaktif
REPLICATION_ENABLED=false
REPLICATION_RUN_AT=23:00
REPLICATION_RUN_ON_START=false
REPLICATION_SOURCE_DB=speedjardist
REPLICATION_TARGET_DB=hsse_dashboard_pelaporan_pengawasan
